{% extends "layout.html" %}
{% block head %}
    <head>
        <title>Poster Renamer</title>
        <link rel="stylesheet"
              type="text/css"
              href="{{ url_for('static', filename='css/poster_renamer/poster_renamer.css') }}" />
        {{ super() }}
    </head>
{% endblock head %}
{% block layout_content_div %}
    <div class="poster-renamer-container">
        <div id="file-browser-container" class="content-box"></div>
        <div id="image-preview-container" class="content-box image-container"></div>
        <div id="unmatched-container" class="content-box unmatched-container"></div>
        <div id="jobHistoryModal" class="modal">
            <div class="modal-content">
                <span class="close">×</span>
                <h2 id="modalTitle"></h2>
                <div id="modalBody"></div>
            </div>
        </div>
    </div>
{% endblock layout_content_div %}
{% block script_content %}
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/poster_renamer/poster_renamer.js') }}"></script>
{% endblock script_content %}
