.poster-renamer-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  flex-wrap: wrap;
}

.content-box {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: auto;
  height: auto;
}

.unmatched-table th,
.unmatched-table td {
  border: 1px solid var(--light);
  padding: 12px;
  text-align: center;
  transition: background-color 0.3s;
}
.unmatched-inner {
  overflow-y: auto;
  max-height: 700px;
}

.btn {
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  transition:
    background-color 0.3s,
    transform 0.2s;
}
.preview-div img {
  width: 100%;
  height: 100%;
  height: auto;
  padding: 20px;
  max-width: 455px;
}

.unmatched-table th {
  background-color: var(--secondary);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 14px;
}
.unmatched-table td {
  font-size: 14px;
}

.unmatched-table thead {
  position: sticky;
  font-size: 16px;
  top: 0;
  background-color: var(--secondary);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.file-browser {
  width: auto;
  max-width: 550px;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

@media (max-width: 768px) {
  .content-box {
    max-width: 600px;
    padding: 10px;
  }
  .preview-div img {
    padding: 15px;
  }

  .unmatched-inner {
    max-height: 600px; /* Reduce height if needed */
  }
  .btn {
    font-size: 12px;
  }
  .unmatched-table thead {
    font-size: 12px; /* Reduce font size if necessary */
  }

  .unmatched-table th,
  .unmatched-table td {
    font-size: 12px; /* Adjust text size to fit */
    padding: 10px;
  }
  .unmatched-inner {
    max-height: 500px; /* Reduce height if needed */
  }
}

@media (max-width: 480px) {
  .poster-renamer-container {
    padding: 5px;
  }
  .content-box {
    max-width: 420px;
    padding: 5px;
  }
  .preview-div img {
    padding: 10px;
  }

  .unmatched-table thead {
    font-size: 10px; /* Reduce font size if necessary */
  }

  .unmatched-table th,
  .unmatched-table td {
    font-size: 10px; /* Adjust text size to fit */
    padding: 10px;
  }
  .unmatched-inner {
    max-height: 300px; /* Reduce height if needed */
  }
  .btn {
    font-size: 8px;
  }
}

.unmatched-wrapper {
  color: #ffffff;
  background-color: var(--secondary);
  overflow: auto;
  display: none;
  width: 100%;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.progress-run-div {
  padding-bottom: 20px;
  padding-top: 0px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--secondary);
  border-radius: 0 0 4px 4px;
}

.unmatched-progress {
  display: none;
}

.unmatched-progress.active {
  display: block;
}

.unmatched-wrapper.active {
  display: block;
}

.unmatched-table tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.05);
}

.unmatched-table tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.1);
}

.unmatched-table tr:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.unmatched-table table {
  width: 100%;
  border-collapse: collapse;
  color: #ffffff;
  overflow: hidden;
  border-radius: 8px;
}

.poster-status,
.season-item {
  padding-left: 10px;
  margin-bottom: 4px;
}

.season-item {
  padding-left: 10px;
}

.btn-primary {
  color: #fff;
  background-color: var(--primary);
}

.btn:hover {
  background-color: #c71212;
  transform: scale(1.05);
}

.btn-run {
  margin-top: 10px;
  width: 100%;
  font-weight: bold;
}
.btn-run.disabled {
  background-color: var(--light);
  font-weight: bold;
  cursor: not-allowed;
  transition: none;
}
.btn-run.disabled:hover,
.btn-run.disabled:focus {
  background-color: var(--light);
  transform: none;
}

.progress {
  width: 100%;
  height: 30px;
  border-radius: 4px;
  background-color: #333;
}

.progress-bar {
  width: 0%;
  height: 30px;
  border-radius: 4px;
  background-color: transparent;
  text-align: center;
  line-height: 30px;
  color: black;
  font-weight: bold;
  transition: width 0.5s ease-in-out;
  padding-left: 10px;
  box-sizing: border-box;
}

.season-list {
  display: none;
}

.season-list.active {
  display: block;
}

.season-list li {
  padding: 8px;
  margin: 4px 0;
  background-color: var(--dark);
  /* border: 1px solid var(--light); */
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.season-list li:hover {
  background-color: var(--light);
}

.tab-container {
  display: flex;
  flex-direction: column;
  border-radius: 4px 4px 0 0;
  background-color: var(--secondary);
  padding-top: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.tab-buttons-container {
  display: flex;
}

.tab-search {
  padding: 0.375rem 0.75rem;
  margin-top: 8px;
  width: 100%;
  font-size: 16px;
  border-radius: 4px;
  background-color: var(--dark);
  background-clip: padding-box;
  border: 1px solid #000;
  appearance: none;
  border-radius: 5px;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  outline: 0;
  border-radius: 5px;
  color: var(--light);
  box-sizing: border-box;
}

.tab-search:focus {
  color: var(--light);
  background-color: var(--dark);
  border-color: #f58b8b;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(235, 22, 22, 0.25);
}

.tab-links {
  flex: 1;
  padding: 12px 15px;
  cursor: pointer;
  background-color: var(--secondary);
  color: var(--light);
  border: none;
  outline: none;
  text-align: center;
  font-size: 16px;
  transition: background-color 0.3s ease;
  border-bottom: 2px solid transparent;
}

.tab-links:hover {
  background-color: var(--light);
  color: #f9f9f9;
}

.tab-links.active {
  background-color: var(--light);
  border-bottom: 2px solid var(--primary);
  font-weight: bold;
  color: #f9f9f9;
}

.tab-content {
  display: none;
  padding: 20px;
  background-color: var(--secondary);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  max-height: 65vh;
}

.tab-inner {
  overflow-y: auto;
  max-height: calc(65vh - 40px);
}

.tab-content.active {
  display: block;
}

.file-browser.loaded {
  opacity: 1;
  transform: translateY(0);
}

.file-link {
  display: block;
  padding: 10px;
  /* margin: 2px 0; */
  background-color: var(--dark);
  color: var(--light);
  /* border: 1px solid var(--light); */
  /* border-radius: 4px; */
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.file-link:hover {
  background-color: var(--light);
  color: #f9f9f9;
}

.file-link.active {
  background-color: var(--light);
  color: #f9f9f9;
}

.preview-div {
  display: flex;
  flex-direction: column;
  height: auto; /* Adjusts height dynamically */
  overflow: hidden; /* Prevents overflow from children */
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.preview-div.loaded {
  opacity: 1;
}

.image-div {
  position: relative;
  display: flex;
  background-color: var(--secondary);
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.delete-button {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 7px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.delete-button i {
  font-size: 16px;
}

.delete-button:hover {
  background-color: darkred;
  opacity: 1;
}

.delete-button.disabled {
  background-color: var(--light);
  cursor: not-allowed;
  transition: none;
}
.delete-button.disabled:hover {
  background-color: var(--light);
  transform: none;
}

.image-source-div {
  background-color: var(--secondary);
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.image-metadata {
  word-break: break-word; /* Ensures text wraps properly */
  overflow-wrap: anywhere; /* Ensures even long text breaks correctly */
  max-width: 100%; /* Ensures it doesn't exceed the parent container */
  white-space: normal; /* Allows natural wrapping */
  color: var(--light);
}

.bold-text {
  font-weight: bold;
}
