:root {
    --primary: #eb1616;
    --secondary: #191c24;
    --light: #6c7293;
    --dark: #000000;
}

.poster-renamer-container {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.content-box {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: auto;
    height: auto;
    min-height: 100px;
}

.btn {
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    transition:
        background-color 0.3s,
        transform 0.2s;
}

.btn-primary {
    color: #fff;
    background-color: var(--primary);
}

.btn:hover {
    background-color: #c71212;
    transform: scale(1.05);
}

.btn-run {
    margin-top: 10px;
}

.progress {
    margin-top: 10px;
    width: 100%;
    height: 30px;
    background-color: #333;
}

.progress-bar {
    width: 0%;
    height: 30px;
    background-color: transparent;
    text-align: center;
    line-height: 30px;
    color: black;
    font-weight: bold;
    transition: width 0.5s ease-in-out;
    padding-left: 10px;
    box-sizing: border-box;
}

.season-list {
    display: none;
}

.season-list.active {
    display: block;
}

.season-list li {
    padding: 8px;
    margin: 4px 0;
    background-color: var(--dark);
    /* border: 1px solid var(--light); */
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.season-list li:hover {
    background-color: var(--light);
}

.tab-container {
    display: flex;
    border-bottom: 2px solid var(--dark);
    margin-bottom: 20px;
    background-color: var(--secondary);
    padding: 10px 0;
}

.tab-links {
    flex: 1;
    padding: 12px 20px;
    cursor: pointer;
    background-color: var(--secondary);
    color: var(--light);
    border: none;
    outline: none;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border-bottom: 2px solid transparent;
}

.tab-links:hover {
    background-color: var(--light);
    color: #f9f9f9;
}

.tab-links.active {
    background-color: var(--light);
    border-bottom: 2px solid var(--primary);
    font-weight: bold;
    color: #f9f9f9;
}

.tab-content {
    display: none;
    padding: 20px;
    /* border: 1px solid var(--light); */
    background-color: var(--secondary);
    border-radius: 4px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: 65vh;
}

.tab-content.active {
    display: block;
}

.file-browser {
    width: 400px;
}

.file-link {
    display: block;
    padding: 10px;
    margin: 10px, 0;
    background-color: var(--dark);
    color: var(--light);
    /* border: 1px solid var(--light); */
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.file-link:hover {
    background-color: var(--light);
    color: #f9f9f9;
}

.file-link.active {
    background-color: var(--light);
    color: #f9f9f9;
}

.preview {
    max-width: 450px;
    width: 100%;
    display: flex;
    height: 100%;
}

.preview img {
    width: auto;
    height: auto;
    border-radius: 4px;
}

.image-metadata {
    padding: 5px;
    border-radius: 4px;
    background-color: var(--secondary);
    margin-top: 10px;
    color: #ffffff;
}

.red-text {
    color: var(--primary);
}
