/* Page container */
.settings-container {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;
}

.nav-extension {
  display: flex;
  flex: 0 0 auto;
  background-color: oklch(31.5% 0.006 286.033);
  height: 65px;
  align-items: center;
  width: 100%;
}

.page-content {
  position: relative;
  display: grid;
  grid-template-areas: 
    'instances instances instances'
    'renamerr misc log';
  grid-template-columns: repeat(2, 40%) auto;
  grid-template-rows: max-content;
  gap: 20px;
  padding: 30px 61px 30px 30px;
  overflow-y: auto;
  overflow-x: hidden;
}

.save-button {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  color: var(--light);
  background-color: transparent;
  border: none;
  font-size: 12px;
  max-width: 65px;
}

.save-button.enabled {
  cursor: pointer;
  color: white;
}

.save-button span {
  font-size: 11px;
  align-items: center;
  word-wrap: break-word;
  font-weight: 600;
}

.save-button i {
  font-size: 20px;
  margin-bottom: 3px;
  color: inherit;
}

/* Content box styling */
.content-box {
  padding: 20px;
  /* Add padding around the content */
  border-radius: 10px;
  /* Rounded corners */
  border: 1px solid oklch(0.705 0.015 286.067 / 0.2);
  /* Optional: Adds a subtle shadow */
  width: auto;
  /* Width adjusts based on content */
  min-width: 250px;
  /* Set minimum width */
  max-width: 100vw;
  /* Set maximum width */
  height: auto;
  /* Height will grow based on content */
  align-self: flex-start;
  /* Override Flexbox to prevent stretching */
}

.content-heading {
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 0px;
}

/* 
  * Custom checkbox styling
 */
 .custom-checkbox__label {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 8px;
  align-items: center;

  .custom-checkbox-label__text {
    margin: 0;
    color: var(--light);
    font-size: 14px;
    font-weight: 600;
  }

  &.custom-checkbox__label--multiple-choice {
    grid-template-columns: max-content max-content 1fr;
    column-gap: 16px;
    align-content: space-around;

    .custom-checkbox-label__text {
      font-size: 16px;
      color: var(--primary);
      font-weight: 600;
      grid-column: span 3;
    }

    .custom-checkbox-label__off,
    .custom-checkbox-label__on {
      font-size: 14px;
      color: var(--light);
      font-weight: 600;
    }
    
    .custom-checkbox-label__off {
      align-self: end;
    }
    .custom-checkbox-label__on {
      align-self: start;
    }
  }
}

.custom-checkbox__input {
  display: flex;
  align-items: center;

  /* The container for the custom icon checkbox */
  .slider {
    position: relative;
    width: 40px;
    height: 20px;
    background-color: var(--light);
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex-shrink: 0;
  }

  .slider::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }
}

.instances {
  grid-area: instances;

  .instance-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

#instances-form {
  display: grid;
  grid-template-areas: 'radarr sonarr plex';
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.renamerr {
  grid-area: renamerr;
}

.misc-settings {
  grid-area: misc;
  display: grid;
  grid-template-areas: 
    'unmatched'
    'plex'
    'gdrives';
  grid-template-rows: repeat(3, max-content);
  gap: 20px;
}

.unmatched-assets {
  grid-area: unmatched;

  .unmatched-assets__inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .unmatched-assets__toggles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-flow: dense;
    grid-auto-rows: max-content;
    column-gap: 24px;
    row-gap: 16px;
  }
}

.plex-uploader {
  grid-area: plex;
}

.drive-sync {
  grid-area: gdrives;
}

.log-level {
  grid-area: log;

  .log-level__inputs {
    grid-area: log;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
    grid-auto-flow: dense;
    grid-auto-rows: max-content;
    row-gap: 24px;
    column-gap: 40px;
  }
}

.form-name {
  font-size: 16px;
  font-weight: bold;
  color: var(--primary);
}

.form-label {
  margin-top: 6px;
  margin-bottom: 14px;
  color: var(--light);
  font-size: 14px;
  font-weight: 600;

  &.form-label--required .required {
    color: var(--primary-dark);
    font-size: 14px;
    padding-left: 6px;
  }

  &.form-label--with-button {
    display: flex;
    align-items: center;
  }
}

.form-group-checkbox {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}


.checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.custom-checkbox-label {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 80%;
  cursor: pointer;
  justify-content: space-between;
  gap: 10px;
}

.custom-checkbox {
  display: none;
}


/* Style when the checkbox is checked */
.custom-checkbox:checked + .slider {
  background-color: var(--primary);
}

.custom-checkbox:checked + .slider::before {
  transform: translateX(20px);
  /* Move the slider knob to the right */
}

/* Basic form styling */
.form-group {
  display: flex;
  flex-direction: column;
}

.border-color-div {
  display: flex;
  flex-direction: column;
}

.form-select {
  width: 100%;
  margin-top: 6px;
  margin-bottom: 12px;
  padding: 0.375rem 0.75rem;
  font-size: 16px;
  border: 1px solid #000;
  border-radius: 4px;
  background-color: var(--light);
  color: var(--dark);
  appearance: none;
  /* Removes the default dropdown arrow */
  outline: none;
  box-shadow: none;
  transition: border-color 0.15s ease-in-out;
}

.form-input {
  padding: 0.375rem 0.75rem;
  width: 100%;
  margin-top: 6px;
  font-size: 16px;
  border-radius: 4px;
  background-color: var(--secondary);
  background-clip: padding-box;
  border: 1px solid #000;
  appearance: none;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  outline: 0;
  color: var(--lightest);
  min-height: 30px;
  max-height: 150px;
  overflow-y: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  resize: vertical;

  &.form-input--comfy {
    margin-bottom: 16px;
  }

  &:focus {
    color: var(--dark);
    background-color: var(--lightest);
    outline: 1px solid var(--dark);
    box-shadow: 0 0 0 4px oklch(70.4% 0.191 22.216 / 0.4);
  }
}

.dynamic-input-group {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-top: 5px;
}

.instance-group-div {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.instance-wrapper {
  display: flex;
  flex-direction: column;
}

/**
  * Button styling
  */
.btn {
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  transition:
    background-color 0.3s,
    transform 0.2s,
    box-shadow 0.2s;

  &:hover,
  &:focus {
    background-color: var(--primary-light);
    /* transform: scale(1.05); */
    outline: none;
  }

  &.btn-primary {
    color: #fff;
    background-color: var(--primary);
    font-size: 14px;

    &:hover,
    &:focus {
      outline: 1px solid var(--dark);
      box-shadow: 0 0 0 4px oklch(0.637 0.237 25.331 / 0.5);
    }
  }

  &.btn-secondary {
    background-color: var(--light);
    /* border: 1px solid var(--light); */
    color: var(--secondary);
    
    &:hover,
    &:focus {
      background-color: var(--lightest);
      box-shadow: 0 0 0 4px oklch(0.705 0.015 286.067 / 0.3);
      outline: 1px solid var(--dark);
    }
  }

  &.btn-remove--alt {
    background-color: transparent;
    color: var(--light);
    font-size: 1rem;

    &:hover,
    &:focus {
      color: var(--lightest);
      background-color: var(--secondary);
      box-shadow: none;
    }
  }

  &.btn-add {
    white-space: nowrap;
  }

  &.btn-add--directory {
    width: auto;
    align-self: end;
  }
}

.input-div-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.source-item {
  cursor: grab;
}

.source-item.dragging {
  cursor: grabbing;
}

.dragging {
  opacity: 0.5;
}

.drag-handle {
  color: var(--light);
  font-size: 18px;
  margin-right: 5px;
}

.span-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.flex-grow {
  flex-grow: 1;
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.form-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.separator {
  color: var(--secondary);
  margin-top: 15px;
  margin-bottom: 15px;
  opacity: .7;
}

/* Modal styles */
.modal {
  position: fixed;
  z-index: 1001;
  inset: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.65);
}

.modal-content {
  position: relative;
  background-color: var(--dark);
  margin: 15% auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: 2px solid var(--light);
  width: 80%;
  max-width: 500px;

  .btn {
    margin-top: 16px;
  }
}

.drive-select-wrapper {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 16px;

  .form-select,
  .form-input,
  .close {
    margin: -10px 0 0;
  }

  .drive-sync__remove-button {
    margin-top: -11px;
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: var(--light);
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--lightest);
  }
}

.path-inputs {
  margin: 8px 0 8px;
}

/* Source directories */
.source-dir__group,
.form-group--removeable {
  display: flex;
  gap: 5px;
  align-items: center;
}

.poster-toggles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-flow: dense;
  grid-auto-rows: auto;
  gap: 16px;
  margin: 16px 0 24px;
}

/* Media queries copied from Tailwind breakpoints */
@media (width <= 80rem) {
  /* xl, 1280px */
  .page-content {
    grid-template-areas:
    'instances instances'
    'renamerr misc'
    'renamerr log';
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}

@media (width <= 64rem) {
  /* lg, 1024px */
  .page-content {
    grid-template-areas:
    'instances instances'
    'renamerr misc'
    'renamerr log';
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .misc-settings {
    grid-template-areas: 
    'gdrives'
    'unmatched'
    'plex';
  }

  #instances-form {
    grid-template-areas:
      'radarr'
      'sonarr'
      'plex';
    grid-template-columns: 1fr;
    gap: 24px;
  }
}

@media (width <= 48rem) {
  /* md, 768px */
  .page-content {
    grid-template-areas:
    'instances'
    'renamerr'
    'misc'
    'log';
    grid-template-columns: 1fr;
    gap: 24px;
  }
}

@media (width <= 40rem) {
  /* sm, 640px */
  .drive-sync .drive-select-wrapper {
    flex-direction: column;
    gap: 16px;
    width: 90%;
    position: relative;

    & .drive-sync__remove-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -40px;
    }
  }

  .modal-content {
    width: 90%;
    min-width: 320px;
  }
}