:root {
  --primary: #eb1616;
  --secondary: #191c24;
  --light: #6c7293;
  --dark: #000000;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: auto;
  height: auto;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: auto;
  height: auto;
}

.settings-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
}

#instances-form {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#poster-renamer-form {
  display: flex;
  flex-direction: column;
}

/* #log-level-wrapper { */
/*   display: flex; */
/*   flex-direction: column; */
/*   width: 300px; */
/* } */

/* Content box styling */
.content-box {
  background-color: var(--secondary);
  /* Light background color */
  padding: 20px;
  /* Add padding around the content */
  border-radius: 10px;
  /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Optional: Adds a subtle shadow */
  width: auto;
  /* Width adjusts based on content */
  min-width: 250px;
  /* Set minimum width */
  /* min-height: 500px; */
  max-width: 100vw;
  /* Set maximum width */
  height: auto;
  /* Height will grow based on content */
  /* min-height: 100px; */
  /* Set minimum height */
  align-self: flex-start;
  /* Override Flexbox to prevent stretching */
}

.text-primary {
  color: var(--primary);
}

.content-heading {
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 0px;
}

.form-name {
  font-size: 16px;
  font-weight: bold;
  /* margin-bottom: 10px; */
  color: var(--primary);
}

.form-label {
  color: var(--light);
  font-size: 13px;
  font-weight: bold;
}

.form-group-checkbox {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.custom-checkbox-label {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 80%;
  cursor: pointer;
  justify-content: space-between;
  gap: 10px;
}

.custom-checkbox {
  display: none;
}

/* The container for the custom icon checkbox */
.slider {
  position: relative;
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex-shrink: 0;
}

.slider::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

/* Style when the checkbox is checked */
.custom-checkbox:checked+.slider {
  background-color: var(--primary);
}

.custom-checkbox:checked+.slider::before {
  transform: translateX(20px);
  /* Move the slider knob to the right */
}

/* /* The custom icon box */
*/
/* .custom-checkbox-label .checkmark-icon { */
/*   display: inline-block; */
/*   width: 18px; */
/*   height: 18px; */
/*   border: 2px solid red; */
/*   /* Red border when unchecked */
*/
/*   border-radius: 4px; */
/*   /* Optional: Rounded corners */
*/
/*   background-color: white; */
/*   /* White background */
*/
/*   text-align: center; */
/*   line-height: 16px; */
/*   /* Center icon vertically */
*/
/*   color: transparent; */
/*   /* Hide the icon initially */
*/
/*   transition: */
/*     background-color 0.3s ease, */
/*     border-color 0.3s ease; */
/* } */
/**/
/* /* Show the checkmark when checked */
*/
/* .custom-checkbox-label input[type="checkbox"]:checked + .checkmark-icon { */
/*   background-color: red; */
/*   /* Red background when checked */
*/
/*   border-color: red; */
/*   color: white; */
/*   /* Make the icon visible */
*/
/* } */
/**/
/* /* Hover effect */
*/
/* .custom-checkbox-label:hover .checkmark-icon { */
/*   border-color: #ff6666; */
/*   /* Lighter red on hover */
*/
/* } */

/* Basic form styling */
.form-group {
  display: flex;
  flex-direction: column;
}

.border-color-div {
  display: flex;
  flex-direction: column;
}

.form-select {
  width: 100%;
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 0.375rem 0.75rem;
  font-size: 16px;
  border: 1px solid #000;
  border-radius: 4px;
  background-color: var(--dark);
  color: var(--light);
  appearance: none;
  /* Removes the default dropdown arrow */
  outline: none;
  box-shadow: none;
  transition: border-color 0.15s ease-in-out;
}

.form-input {
  padding: 0.375rem 0.75rem;
  margin-top: 6px;
  margin-bottom: 6px;
  width: 100%;
  font-size: 16px;
  border-radius: 4px;
  background-color: var(--dark);
  background-clip: padding-box;
  border: 1px solid #000;
  appearance: none;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  outline: 0;
  color: var(--light);
}

.form-input:focus {
  color: var(--light);
  background-color: var(--dark);
  border-color: #f58b8b;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(235, 22, 22, 0.25);
}

.dynamic-input-group {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-top: 5px;
}

.instance-group-div {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.instance-wrapper {
  display: flex;
  flex-direction: column;
}

.btn {
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  transition:
    background-color 0.3s,
    transform 0.2s;
}

.btn-test {
  background-color: var(--dark);
  color: white;
}

.input-div-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.source-item {
  cursor: grab;
}

.source-item.dragging {
  cursor: grabbing;
}

.dragging {
  opacity: 0.5;
}

.drag-handle {
  color: var(--light);
  font-size: 18px;
  margin-right: 5px;
}

.span-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.flex-grow {
  flex-grow: 1;
}

.btn-primary {
  color: #fff;
  background-color: #eb1616;
}

.btn:hover {
  background-color: #c71212;
  transform: scale(1.05);
}

.button-div {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 5px;
}

.btn-add {
  white-space: nowrap;
}

.btn-submit {
  display: flex;
  align-items: center;
  /* margin-top: 10px; */
  height: 100%;
}

.form-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
}

#radarr-group-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  margin-top: 5px;
}

#plex-group-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  margin-top: 5px;
}

#sonarr-group-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  margin-top: 5px;
}

.separator {
  color: var(--light);
  margin-top: 15px;
  margin-bottom: 15px;
}
